<a href="https://colab.research.google.com/github/Preeti27092000/EDA-on-amazo-job-dataset/blob/main/Copy_of_07_Exploring_More_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget "https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/Amazon_jobs_dataset%20-%20amazon_jobs_dataset.csv"

--2022-08-30 05:10:17--  https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/Amazon_jobs_dataset%20-%20amazon_jobs_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10493282 (10M) [text/plain]
Saving to: ‚ÄòAmazon_jobs_dataset - amazon_jobs_dataset.csv‚Äô

Amazon_jobs_dataset 100%[===================>]  10.01M  --.-KB/s    in 0.06s

2022-08-30 05:10:18 (162 MB/s) - ‚ÄòAmazon_jobs_dataset - amazon_jobs_dataset.csv‚Äô saved [10493282/10493282]

In [ ]:
fileName = "Amazon_jobs_dataset - amazon_jobs_dataset.csv"

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(fileName)
df

,S.No.,Title,location,Posting_date,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS
0,0,Software Development Manager,"US, WA, Seattle","March 1, 2018",You are an experienced hands-on manager with a...,¬∑ Proven track record of hiring and managing h...,¬∑ Experience building extremely high volume an...
1,1,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being ‚Äúthe world‚Äôs most cu...,¬∑ Bachelor‚Äôs Degree in Computer Science or rel...,¬∑ Experience building complex software systems...
2,2,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being ‚Äúthe world‚Äôs most cu...,¬∑ Bachelor‚Äôs Degree in Computer Science or rel...,¬∑ Experience building complex software systems...
3,3,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,¬∑ Bachelors Degree in Computer Science or a re...,¬∑ Masters or PhD in Computer Science¬∑ Experien...
4,4,Software Development Engineer - Amazon Lex,"US, WA, Seattle","March 1, 2018",Have you ever wondered what it takes to build ...,¬∑ Bachelors Degree in Computer Science or a re...,¬∑ Masters or PhD in Computer Science¬∑ Experien...
...,...,...,...,...,...,...,...
3488,3488,Software Engineer,"US, NV, Las Vegas","August 29, 2012",What are you currently doing? We‚Äôre building a...,¬∑ 5+ years production Java software developmen...,¬∑ 7+ years Java software development in a prod...
3489,3489,Software Development Engineer,"US, WA, Seattle","April 23, 2012",At Amazon Voice and Advanced Natural Shopping ...,* Bachelor‚Äôs Degree in Computer Science or rel...,* Experience building complex software systems...
3490,3490,Software Development Engineer III - Mar. BR 2012,"US, WA, Seattle","March 6, 2012",Employer: Amazon Corporate LLCPosition: Softwa...,Basic Qualifications:Education: Master‚Äôs degre...,-
3491,3491,Software Development Engineer in Test II - IMM546,"US, WA, Seattle","November 28, 2011",POSITIONS AVAILABLECompany: Amazon Corporate L...,-,-
3492,3492,Software Development Engineer in Test,"US, WA, Seattle","July 7, 2011",Kindle and Amazon are impacting the world with...,"¬∑ Bachelor‚Äôs degree in Computer Science, Compu...",¬∑ Experience with open source tools and resour...

In [ ]:
import csv
with open(fileName,encoding="utf8") as f:
    data = csv.DictReader(f,skipinitialspace= True)
    data = list(data)

# HANDS ON DATA üëê

## **Job Location**

**Problem Statement :**

Find number of job openings in Bangalore,IN and in Seattle,US?

Print the Number of Job opening in Bangalore and Seattle as Integer value.

```
Output:

CountBangalore CountSeattle
```

In [ ]:
d = {}
for i in data:
  city = (i['location'].split(",")[-1].replace(" ",''))
  d[city] = d.get(city,0)+1

In [ ]:
d

{'Seattle': 1856,
 'Bangalore': 66,
 'Cupertino': 90,
 'Ia≈üi': 1,
 'EastPaloAlto': 99,
 'SantaMonica': 21,
 'Sunnyvale': 160,
 'PaloAlto': 135,
 'Boston': 4,
 'Cambridge': 148,
 'Vancouver': 113,
 'Austin': 52,
 'Hyderabad': 36,
 'SanFrancisco': 38,
 'Munich': 1,
 'Iasi': 12,
 'Gdansk': 23,
 'BielanyWroclawskie': 1,
 'Berlin': 20,
 'Irvine': 22,
 'Toronto': 29,
 'NorthReading': 10,
 'Minneapolis': 4,
 'Dubai': 1,
 'SanDiego': 15,
 'SantaBarbara': 6,
 'Portland': 14,
 'Madrid': 14,
 'Vercelli': 1,
 'Newark': 19,
 'NewYork': 38,
 'Chennai': 33,
 'Herzliya': 2,
 'Aachen': 6,
 'Westborough': 1,
 'Herndon': 41,
 'Bellevue': 57,
 'London': 21,
 'CapeTown': 17,
 'Andover': 2,
 'Boulder': 9,
 'SantaCruz': 15,
 'SanLuisObispo': 3,
 'Singapore': 4,
 'Sydney': 10,
 'Dublin': 50,
 'Broomfield': 6,
 'Paris': 3,
 'Virtual': 3,
 'Edinburgh': 1,
 'Tempe': 6,
 'Haifa': 20,
 'SaoPaulo': 11,
 'Gurgaon': 5,
 'Beijing': 18,
 'MexicoCity': 2,
 'TheHague': 2,
 'Ballston': 4,
 'Milan': 1,
 'Amman': 2,
 'Winnipeg': 5,
 'Pittsburgh': 3,
 'Shenzhen': 3,
 'Atlanta': 2,
 'Heslington': 3,
 'JerseyCity': 1,
 'Taipei': 5,
 'Denver': 7,
 'Graben': 1,
 'Shanghai': 3,
 'Bucharest': 4,
 'Dresden': 9,
 'Luxembourg': 6,
 'Standortuebergreifend': 1,
 'FosterCity': 2,
 'HodHasharon': 9,
 'Meguro': 6,
 'Asti': 2,
 '': 9,
 'Bristol': 1,
 'Pune': 1,
 'SanJose': 3,
 'Ottawa': 2,
 'LasVegas': 1}

In [ ]:
print(d["Seattle"])
print(d["Bangalore"])

1856
66

In [ ]:
#ANSWER HERE

## **Job Computer Vision**


**Problem Statement :**

What are the total number of job openings related to Computer Vision ?

Note:For finding the job related to computer vision check the Job Title column.

```
Output Format

Count

```

In [ ]:
a = []
count = 0
for i in df['Title']:
  i = i.lower()
  
  if "computer" in i:
    
    count += 1
    a.append(i)
    
print(a)
print(len(a))

['software development engineer - computer vision', 'software development manager - computer vision', 'software development engineer - computer vision', 'senior software development engineer - computer vision', 'senior software development engineer - computer vision', 'software development manager - computer vision', 'computer vision applied scientist', 'software development engineer - computer vision', 'software development engineer - computer vision', 'principal computer vision scientist', 'software development engineer - computer vision frameworks/acceleration', 'computer vision and deep learning research scientist', 'software development engineer - computer vision', 'software development engineer - computer vision']
14

In [ ]:
# ANSWER HERE

In [ ]:
# 14

## **Job Canada**

It is a dataset including information on amazon job opening around the world from June 2011 to March 2018. This dataset is collected using Selenium and BeautifulSoup by scraping all of the jobs for Amazon job site.
Problem Statement :

Find the number of job openings in Canada?

Print the count as the Integer Value

```
Output:

Count
```

In [ ]:
l = []
for i in data:
  city = (i['location'].split(",")[0].replace(" ",''))
  if city == "CA":
    l.append(city)

print(len(l))

156

In [ ]:
# ANSWER HERE

In [ ]:
# 156

## **Job Month 2018**

Problem Statement :

Find the month having most job openings in Year 2018 ?
Print the month (Month Name i.e January, February, March) and Number of job opening as Integer Value

```
Output Format :

MonthName Count

```

In [ ]:

count = 0
l = []
d = []
count = {}


for i in data:
  b = (i['Posting_date'].split(","))
  
  #a = (i['Posting_date'].split(",")[-1].replace(" ",''))
  if '2018' in b[1]: # if 2018 in date append it to l
    l.append(b)


for i in l:
  a = i[0][0:3]
  d.append(a)

for i in d:
  if i in count:
    count[i] += 1
  else:
    count[i] = 1

print(count)

{'Mar': 13, 'Feb': 790, 'Jan': 907}

In [ ]:
# ANSWER HERE

In [ ]:
# January   907

## **Job Degree**

Problem Statement :
Find the number of job openings are present if applicant have Bachelor degree?
Print the count as Integer value

**Note : Here we will use the BASIC QUALIFICATIONS feature to find out whether bachelor degree for Job is required or not. Keywords that can be used are 'Bachelor', 'BS' and 'BA'.**

```
Output:

Count
```

In [ ]:
a = []
for i in data:
  city = (i['BASIC QUALIFICATIONS'])
  
  if 'Bachelor' in city or 'BA' in city or 'BS' in city :
    a.append(city)

print(len(a))

2961

In [ ]:
# 2961

## **Job Java**
**Problem Statement :**

Find the country does Amazon need the most number of Java Developer?
Print the Country(Country Shortcut as given in Dataset) and number of job opening as integer value

```
Country NumberofJobs

For example : US 40
```

In [ ]:
l = []
dic = {}
for i in data:
  a = (i['BASIC QUALIFICATIONS'])
  b = (i['location'].split(",")[0])

  if "Java" in a:
    if b in dic.keys():
      dic[b] += 1
    else:
      dic[b] = 1


print(dic)

{'US': 2009, 'IN': 111, 'CA': 111, 'RO': 9, 'PL': 17, 'AE': 1, 'ES': 13, 'IL': 2, 'DE': 19, 'UK': 38, 'SG': 1, 'AU': 9, 'IE': 30, 'CN': 14, 'MX': 2, 'NL': 2, 'ZA': 12, 'FR': 2, 'JO': 2, 'TW': 4, 'LU': 6, 'BR': 8, 'JP': 4, 'IT': 1, '': 1}

In [ ]:
# US   2009